p{
	width: 200px;
	border: 2px solid black;
	line-height: 400%;
}

h1{ 
	color: blue; 
}

ol{

}
ul{

}

table{
	width: 50%;
	border: 1px solid #0B615E
}
td	{
	padding: 0.3em;
	border: 1px solid #0B615E
}

input{
	width: 20%;
}
fieldset{
	width: 40%
}